<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="failedRerun.Transformer"></listener>
		<listener class-name="failedTest.ListnerExa"></listener>
	</listeners>
  <test name="Test">
    <classes>
    <!--  <class name="execuationpack.PriorityEx"/>-->
      <class name="execuationpack.Test1"/>
   <!-- <class name="execuationpack.BrowserTest"/>
      <class name="execuationpack.DependeciesManagement"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
